

.posts {
    display: flex;
    flex-direction: column-reverse;
}



.search-bar {
    margin : auto;
    width: 200px;
    margin-left : 380px;
}

.animation{
    font-size:14px;

    width: 100px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background:url(/init/static/images/signup.jpg); left:330px; top:0px; background-size:100%}
    50%  {background:url(/init/static/images/addpost.png); left:480px; top:0px;background-size:100%}
    100% {background:url(/init/static/images/signup.jpg); left:330px; top:0px; background-size:100%}

}

.topButton {
    position :fixed;
    bottom : 75px;
    right: 50px;
}

.addBox {
    padding: 8px;
    border-radius: 15px 50px;
    position: fixed;
    font-size: 16px;
    color : black;
    border: 2px solid black;
    margin-left: 925px;
    width: 300px;
    height: 160px;
    background: url(/init/static/images/logo2.png) 90px -5px no-repeat;
    top: 250px;
    right : 50px;
    
}

.btn-info {
    font-family: Verdana;
    font-size:14px;
    margin-right: 100px;
}
.btn-warning { 
    color : darkslategray;
}
.authorName-before {
    color: darkslategray;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);   
    width : 250px;
    margin-left : 40px;
    font-size:14px;

}
.categoryName-before {
    color: darkslategray;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);   
    width : 250px;
    margin-left: 20px;
    font-size:14px;

}
.buttonPost:hover {
    background-color: linen;
    transition: all 0.7s ease;
}


.buttonPost {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 100%;
    margin-right : 10px;
    
}


.tooltipa {
    position: relative;
    display: inline-block;
    
  }
  
  .tooltipa .tooltiptexta {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    
  }
  
  .tooltipa .tooltiptexta::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltipa:hover .tooltiptexta {
    visibility: visible;
  }
.categoryName {
    color: darkslategray;
    font-weight: bold;
    font-size:14px;

    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);   
}
.postedName {
    color: darkslategray;
    font-weight: bold;
    font-size:14px;

    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);   
}
.back {
    background: url(/init/static/images/yellow.jpg) center no-repeat;
    background-size: cover;
    height : 1000px;
    margin : -20px -15px 0px -30px;
    padding-bottom : 30px;
}

.post-box img {
    display: block;
    margin: auto;
    height: 150px;
}

.post-title {
    font-size: 15px;
    text-align: center;
}

.post-content {
    font-size: 15px;
    text-align: center;
}

.commentContent {
    position: relative;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: lemonchiffon;
    border-radius: 3px;
    border: 5px solid moccasin;
    font-size:14px;

}
.commentBox {
    font-size:14px;
}
.commentAuthor {
    color : dodgerblue;

}
.commentAddReply {
    padding-bottom: 20px;
    border-bottom : 3px solid silver;
}
.post-box {
    border-radius: 25px;
    margin-left:180px;
    border: 1px solid black;
    width: 600px;
    padding: 15px;
    align-content: center;
    background-size: 100%;
    background-color: rgba(255,255,255,0.5); 
    font-family: Verdana;
}


.copyright {
    width : 100%;
    color: white;
}
.bottomThing {
    margin : 0px -15px 0px -30px;

    
}