.posts {
    display: block;
    
    
}
.search-bar {
    margin : auto;
    width: 200px;
}

.categoryName {
    margin-right: 600px;
    border: solid;
}
.back {
    background: url(/init/static/images/yellow.jpg) center no-repeat;
   
    background-size: cover;
    height : 100%;
    margin : 0px;
}

.post-box img {
    display: block;
    margin: auto;
    height: 150px;
}

.post-title {
    font-size: 20px;
    text-align: center;
}

.post-box {
    margin :auto;
    border: 1px solid black;
    width: 700px;
    padding: 15px;
    align-content: center;
    background-size: 100%;
    background-color: rgba(255,255,255,0.5); 
    
}

.post-box a {
    top: 5px;
    display: block;
    margin: auto;
    text-align: center;
}

.copyright {
    width : 100%;
    color: white;
}
