.posts {
    display: block;
}

.search-bar {
    margin : auto;
    width: 200px;

}

.animation{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background:url(/init/static/images/signup.jpg); left:370px; top:0px; background-size:100%}
    25%  {background:url(/init/static/images/addpost.png); left:480px; top:0px;background-size:100%}
    50%  {background:url(/init/static/images/look.png); left:650px; top:000px;background-size:120%}
    75%  {background:url(/init/static/images/havefun.jpg); left:850px; top:000px;background-size:100px 100px}
    100%   {background:url(/init/static/images/signup.jpg); left:300px; top:0px; background-size:100%}
}

.topButton {
    position :fixed;
    bottom : 75px;
    right: 50px;
}

.addBox {
    padding: 8px;
    border-radius: 15px 50px;
    position: fixed;
    font-size: 16px;
    color : black;
    border: 2px solid black;
    margin-left: 925px;
    width: 300px;
    height: 160px;
    background: url(/init/static/images/logo2.png) top left no-repeat;
    background-position: 100px -7px;
    
}

.btn-info {
    font-family: Verdana;
    margin-right: 100px;
}
.categoryName-before {
    color: #fff;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);   
    width : 250px;
}
.categoryName {
    color: #fff;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);   
}
.postedName {
    color: #fff;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);   
}
.back {
    background: url(/init/static/images/yellow.jpg) center no-repeat;
    background-size: cover;
    height : 100%;
    margin : 0px;
}

.post-box img {
    display: block;
    margin: auto;
    height: 150px;
}

.post-title {
    font-size: 15px;
    text-align: center;
}

.post-content {
    font-size: 15px;
    text-align: center;
}

.post-box {
    border-radius: 25px;
    margin-left:180px;
    border: 1px solid black;
    width: 700px;
    padding: 15px;
    align-content: center;
    background-size: 100%;
    background-color: rgba(255,255,255,0.5); 
    font-family: Verdana;
}

.copyright {
    width : 100%;
    color: white;
}
