{{extend 'layout.html'}}

{{block header}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
  var getPostsUrl = "{{=URL('api', 'get_all_posts')}}";
  var insertPostUrl = "{{=URL('api', 'insert_post')}}";
  var editPostUrl = "{{=URL('api', 'edit_posts')}}";
</script>

<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">Welcome to Said-It!</h1>
  </div>
</div>
{{end}}

<div id="app">

  <button type="addpost" class="btn btn-info" data-toggle="modal" data-target="#addpostModal">
      Add Post
  </button>

  <!-- Display/Edit Post form Here -->

  <div class="posts">
    <div v-for="post in posts" class="post-box">
        
      <div v-if="!post.editing">
        <p>Title: ${ post.title }</p>
        <p>Content: ${ post.post_content }</p>
        <button> <i class="fa fa-pencil-square-o" v-on:click="editPost(post._idx)"> Edit</i> </button>
      </div>

      <div v-if="post.editing">
        <input type="text" v-model="post.title"/>
        <textarea v-model="post.post_content"></textarea>
        <button v-on:click="savePost(post._idx)">Save</button>
      </div>

      <!--New add image button-->
      <a href="{{=URL('default', 'myform')}}" class="btn">Add Image</a>
        <!--
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#postcontentModal">Expand</button>
  
        <div class="modal fade" id="postcontentModal" role="dialog">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">${ post.title }</h4>
          </div>
          <div class="modal-body">
            <p>${ post.post_content }</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        -->
    </div>
  </div>
  

  <div class="modal fade" id="addpostModal" tabindex="-1" role="dialog" aria-labelledby="addpostLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addposttitle">Add Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <!-- Edit add post form here -->
              <div class="row">
                <div class="form-group col-6">
                  <input v-model="newPostTitle" id="postname" placeholder="Title *" required type="text">
                </div>
                <div class="form-group col-9">
                  <textarea v-model="newPostContent" cols="50" id="post" name="post" placeholder="Enter content *" rows="7" required type="text"></textarea>
                </div>

                <!-- Uploading images not done  https://www.w3schools.com/php/php_file_upload.asp-->
                <form action="upload.php" method="post" enctype="multipart/form-data">
                  Select image to upload: 
                  <input type="file" name="fileToUpload" id="fileToUpload">
                  <input type="submit" value="Upload Image" name="submit">
                </form>

              </div>
            </div>

            <div class="modal-footer">
              <button v-on:click="submitPost" class="btn btn-outline-info" data-dismiss="modal">Add Post</button>
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
