{{extend 'layout.html'}}

{{block header}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
  var getPostsUrl = "{{=URL('api', 'get_all_posts')}}";
  var insertPostUrl = "{{=URL('api', 'insert_post', user_signature=True)}}";
  var editPostUrl = "{{=URL('api', 'edit_posts', user_signature=True)}}";
  var getImageUrl = "{{=URL('api', 'myform')}}";
  var deleteUrl = "{{=URL('api', 'delete_post', user_signature=True)}}";
  var showPostUrl = "{{=URL('api', 'show_posts')}}";
  var image_post_url = "{{=URL('api', 'post_image')}}";
  var image_get_url = "{{=URL('api', 'get_image')}}";
  var getcommentUrl = "{{=URL('api', 'get_comment')}}";
  var addcommentUrl = "{{=URL('api', 'add_comment', user_signature=True)}}";
  var editcommentUrl = "{{=URL('api', 'edit_comment', user_signature=True)}}";
  var deletecommentUrl = "{{=URL('api', 'delete_comment', user_signature=True)}}";

  var useremail = "{{='' if auth.user is None else auth.user.email}}";
</script>
{{end}}

<div class = "back">
    
  <div id="app">
    <div class = "topButton">
      <button><a id="back2Top" title="Back to top" class = "fa fa-caret-square-o-up" href="#"> Go Back to Top</a> </button>
    </div>

    <!-- Search bar-->
    <div class="search-bar">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control sm-3" type="text" v-model="search" placeholder="Search by title"/>
        </form>
    </div>

    <div class = "animationText center">   
      Sign up &emsp;&emsp;&emsp;&emsp;&emsp;
      Add Post &ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      Look at posts &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      Have fun
    </div>
    <div class = "animation center"></div>


    <!-- Display/Edit Post form Here -->

    <div class="posts" >
      <div class = "addBox">
        Welcome to <br>
        where you can create your own post<br>
        and view other user's posts. Get started<br>
        by adding your own very post here!<br>
        <button type="addpost" class="btn btn-info right" data-toggle="modal" data-target="#addpostModal">
          Add Post
        </button> <br><br>
      </div>
      <div v-for="post in reliPosts" class="post-box">
        
          <div v-if="!post.showPostStatus">
            <button class = "buttonPost" v-on:click="showPost(post._idx)" >
            <div class="post-title">
              <h3>${ post.title }</h3>
              <i class="fa fa-plus-square"></i>
            </div>
            <div class = "row">
              <div class ="categoryName-before left">${ post.category } </div>
              <div class ="authorName-before right"> ${post.user_name} </div>
            </div>
          </button>
          </div>

          
          <div v-if="post.showPostStatus">
            <div class = "hideButton center">
              <i v-on:click="hidePost(post._idx)" class="fa fa-minus"> Hide Post </i>
            </div>
            <div v-if="!post.editing">
              <div class = "postBottom">
                
                <div class = "postedName ">
                  <p align ="center"> Posted by ${post.user_name} ${post.post_time}</p>
                </div>
              </div>
              <div class="post-content">
                <div class="post-titleAfter">
                  <h3 align = "left">${post.title}</h3> 
                </div>
                <div class="post-contentAfter">
                  <p align = "left">${ post.post_content }</p>
                </div>
                
                <div v-if="useremail == post.author">
                  
                    <button class="btn-warning" v-on:click="editPost(post._idx)"> 
                      <i class = "fa fa-pencil-square-o">Edit
                      </i> 
                    </button>
                    <button class="btn-warning" v-on:click="deletePost(post._idx)"> 
                      <i class = "fa fa-pencil-square-o">Delete
                      </i>
                    </button>
                  
                </div>

              </div>

              
              Upload an image file: <input id="file_input" type="file"  v-on:change="uploadFile($event,post._idx)" accept="image/jpeg">
              <img v-bind:src="img_url" />


              <div class = "allCommentStuff">
                
                  <button class = "btn-warning" v-on:click="commentClick(post._idx)">
                    ${index==post._idx?'Hide comment':'Show Comment'}
                  </button>
                
                    <div class="comment_list" v-if="index==post._idx">
                        <div>
                            <div class="container form group">
                                <div class="form threequarters">
                                    <textarea v-model="newComment" cols="40" rows="4"  placeholder="Enter your comment here" class="comment_box"></textarea>
                                </div>
                            </div>
                            
                            
                              <div class = "commentAddReply">                                                              
                                <button class = "btn-warning" v-on:click="commentSubmit(post._idx)">Add comment</button>
                              </div> <br>
                           
                        </div>
                      <div class="commentitem" v-for="comment in comment_list">

                            <div v-if="useremail==comment.author" style="float: right">
                              <button class="btn-warning" v-on:click="editcommentClick(comment)">
                                <i class = "fa fa-pencil-square-o"> ${comment.editing?'Submit':'Edit'}
                                </i>
                                </button>
                              <button class="btn-warning" v-on:click="commentDelete(comment)"> 
                                <i class = "fa fa-pencil-square-o">Delete
                                </i>
                              </button>
                            </div>
                            <div v-if="!comment.editing">
                              <div class="commentBox">
                                
                                  <div class="commentAuthor">
                                    <i class="fa fa-user"></i> ${comment.user_name} ${comment.comment_time}
                                  </div>
                                  <div class="commentContent">                 
                                    <span>${comment.comment_content}</span> 
                                  </div>
                              </div>
                            </div>

                            <div v-if="comment.editing" class="container form_row">
                                <div class="label quarter">
                                    Comment Content:
                                </div>

                                <div class="form threequarters">
                                  <textarea v-model="comment.comment_content" cols="40" rows="4" placeholder="Enter comment here"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class = "categoryName center" >
                      ${post.category}
                    </div>
            </div>
              


            </div>

            <div v-if="post.editing">
                <br>
                <input type="text" v-model="post.title" placeholder="Title" /><br><br>
                <textarea cols="50" rows="7" v-model="post.post_content" placeholder="Content"></textarea><br>
                <button v-on:click="savePost(post._idx)">Save</button>
              </div>
            
            <!--New add image button-->
            <!--<a href="{{=URL('default', 'myform')}}" class="btn">Add Image</a> -->

            

            <!--<div class="container">
              <div class="half compressible">
                <img v-bind:src="img_url" />
              </div>
              <div class="half compressible">
                <img v-bind:src="received_image"/>
                <button v-on:click="getImage">Get image</button>
              </div>
            </div>
            -->
            

            <!-- 2nd way to add-->
            <!--<div class = "addingImages center">
              <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
              <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
              <p><img id="output" width="170" /></p>
            </div>--> 
            
            
          </div>
            <!--
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#postcontentModal">Expand</button>
      
            <div class="modal fade" id="postcontentModal" role="dialog">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">${ post.title }</h4>
              </div>
              <div class="modal-body">
                <p>${ post.post_content }</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            -->
        
      </div>
    </div>
    

    <div class="modal fade" id="addpostModal" tabindex="-1" role="dialog" aria-labelledby="addpostLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="addposttitle">Add Post</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <!-- Edit add post form here -->
                <div class="row">
                  <div class="form-group col-6">
                    <input v-model="newPostTitle" id="postname" placeholder="Title *" required type="text">
                  </div>
                  <div class="form-group col-9">
                    <textarea v-model="newPostContent" cols="50" id="post" name="post" placeholder="Enter content *" rows="7" required></textarea>
                  </div>
                </div>
                Select Category  <select required name="category" class="form-control" v-model="newCategory">
                  <option value="Sports">Sports</option>
                  <option value="News">News</option>
                  <option value="Arts">Arts</option>
                  <option value="Entertainment">Entertainment</option>
                  <option value="History">History</option>
                  <option value="Politics">Politics</option>
                  <option value="Blog">Blog</option>
                  <option value="Education">Education</option>
                  <option value="Religion">Religion</option>
                  <option value="Technology">Technology</option>
                </select>
                
              </div>

              <div class="modal-footer">
                <button v-on:click="submitPost" class="btn btn-outline-info" data-dismiss="modal">Add Post</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>

  </div>

  <script src="{{=URL('static', 'js/default_index.js')}}"></script>
</div>

{{end}}